html{
  font-size: 200%;
}

body {
background-color: #00ffffff;
  font-family: sans-serif;
  text-align: center;
}

h1{
  text-align: center;
  font-size:14px;
     height:50px;
}

p {
  font-family: fantasy;
}

ul {
  line-height: 22px;
}

.about{
 font-style: italic;
}
